*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    border: 1px solid green;
}

header, .first-section, .third-section{
    height: 90vh;
}

.second-section{
    height: 50vh;
}

.fourth-section{
    height: 80vh;
}

footer{
    height: 10vh;
}

header, .third-section{
    background-image: url("../media/gradient.png");
    background-position: center;
}

.second-section{
    background-image: url("../media/8.png");
    background-position: 50% 65%;
}

header, .third-section, .second-section{
    background-size: cover;
}

header, .first-section, .second-section,
 .third-section , .fourth-section ,.footer,
 .header-wrap, .logo-nav, .header-icons,
 nav, .header-section, .header-section-content,
 .first-section-content, .first-section-Items,
 .first-section-text, .second-section-content{
    display: flex;
    align-items: center;
}

header, .first-section, .header-section-content,
.first-section-content, .second-section-content{
    flex-direction: column;
}

.header-wrap{
    padding: 10px 0px 10px 0;
}

.header-wrap, .header-section{
    width: 80vw;
}

.logo-nav{
    width: 50%;
}

.header-wrap, .logo-nav, .header-section,
.first-section-text{
    justify-content: space-between;
}

.logo-nav nav{
    gap: 30px;
}

.header-icons{
    gap: 10px;
}

.header-section, .first-section-content,
 .second-section-main{
    margin: auto;
}

.header-section-content, .second-section-content{
    gap: 50px;
    width: 50%;
}

.header-section-content a, .second-section-content a{
    align-self: flex-start;
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1.1em;
    color: #fff;
    background: #000;
    border-radius: 20px;
}

.first-section-Items{
    justify-content: space-evenly;
    width: 100%;
}

.first-section-text{
    width: 80vw;
}

.first-section-content{
    gap: 100px;
}

.second-section-main{
    width: 85vw;
}

.second-section-content h1{
    font-size: 36px;
    align-self: flex-start;
}

.third-section-content{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.third-section-images{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.third-section-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 60%;
    text-align: center;
}

.third-section-text h1{
    font-size: 36px;
}

.third-section-text a{
    text-decoration: none;
    padding: 10px 30px;
    font-size: 1.1em;
    color: #fff;
    background: #000;
    border-radius: 20px;
}